html, * {
    margin: 0;
    /* padding: 0; */
    scroll-behavior: smooth;
}
body {
    background-color: #313131;
}
h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif;
}
/*Hero Image*/
.heroImg h2 {
    color: #0DD251;
    font-weight: 700;
    font-size: 20px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.heroImg h1 {
    font-weight: 400;
    font-size: 40px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.heroImg p {
    font-weight: 600;
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.heroImg h1, h2, p {
    line-height: 27px;
}
.heroImg h1, p {
    color: #F3F3F3;
}
.intro {
    text-align: center;
    padding-top: 50px;
}
.preview {
    text-align: center;
    background-image: url("../images/bg_curves.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* max-width: 100%;
    height: auto; */
    background-color: #313131;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
.preview img:hover {
    animation: bounce 1s;
}
/*Problem Statement*/
.problem h1 {
    color: #F3F3F3;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}
/*Grid Stuff below - may remove*/
/* .line1 {
    grid-area: line1;
}
.line2 {
    grid-area: line2;
}
.line3 {
    grid-area: line3;
}
.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.problemGrid {
    display: grid;
    grid-template-columns: 1fr 275px 275px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "img1 line1"
    "img2 line2"
    ;
} */
.updatedFeature {
    text-align: center;
    background-color: #5E5E5E;
    padding: 30px 5%;
}
.updatedFeature h2 {
    color: #0DD251;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
}
.state h1 {
    color: #0DD251;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    padding-left: 27px;
}
.state {
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}
/*Feature Grid*/
.organize img, .personalize img, .optimize img {
    align-self: flex-start;
    margin-right: 20px;
}
.organize, .personalize, .optimize {
    display: flex;
}
.featureGrid h3, p{
    color: #FFFFFF;
}
.featureGrid h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
}
.featureGrid p {
    font-size: 17px;
    line-height: 23px;
    max-width: 200px;
}
.flexContainer {
    padding: 70px 20% 0px;
}
.featureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "organize personalize optimize"
    ;
}
.cta h1 {
    color: #0DD251;
    font-weight: 800;
    font-size: 138.462px;
    line-height: 169px;
}
.cta {
    text-align: center;
    background-image: url(../images/bg_curves3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #313131;
    padding-bottom: 100px;
}
.btnPrimary {
    padding: 20px;
    background-color: #0DD251;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 100px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  }